<h1>Listing distritos</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @distritos.each do |distrito| %>
  <tr>
    <td><%= distrito.name %></td>
    <td><%= link_to 'Show', distrito %></td>
    <td><%= link_to 'Edit', edit_distrito_path(distrito) %></td>
    <td><%= link_to 'Destroy', distrito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Distrito', new_distrito_path %>
