<%=stylesheet_link_tag  'jquery-ui', 'dialog' %>
<%= javascript_include_tag 'prototype', 'jquery', 'jquery-ui'%>
<script>
$(document).ready(function(){
$('.dialogLauncher').click(function() {
  var dialog = $(this).next('.dialog');
  dialog.dialog({modal: true}).dialog('open');
})
});
</script>
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="dialogLauncher">
<% if current_user %>


  <div style="display:none">
    <%= f.label :concert_id %><br />
	<%= f.collection_select :concert_id, Concert.all, :id, :name  %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
	<%= f.select(:score, options_for_select({"1" => "1", "2" => "2","3" => "3", "4" => "4","5" => "5"}, @comment.score), :prompt => "Select") %>
  </div>
  <div style="display:none">
    <%= f.label :user_id %><br />
	 <input type="hidden", name="userid" value=<%= current_user.id %> />
	 
  </div>
  <div class="actions">
    <%= submit_tag "Agregar Comentario" %>
  </div>

  <% else %>
   <h4>Please sign in first to add a comment</h4>
  <% end %>
  </div>
<% end %>
