<script type="text/javascript">

$(function() {
  $('.datepicker').datetimepicker({
    dateFormat: "yy-mm-dd",
    timeFormat: "hh:mm"
  });
});
</script>

<%= form_for(@concert) do |f| %>
  <% if @concert.errors.any? %>
    <div id="error_explanation">
      <h2>Errores al guardar la información:</h2>

      <ul>
      <% @concert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date, "Fecha Inicio" %><br />
    <%= f.text_field :start_date, :class => 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :end_date, "Fecha Fin" %><br />
    <%= f.text_field :end_date, :class => 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :band_id, "Banda" %><br />
    <%= f.collection_select :band_id, Band.all, :id, :name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :local_id, "Local" %><br />
    <%= f.collection_select :local_id, Local.all, :id, :name, :prompt => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
