<p id="notice"><%= notice %></p>

<p>
  <b>Alumno:</b>
  <%= @concert.user.name %>
</p>

<p>
  <b>Fecha Inicio:</b>
  <%= @concert.start_date.strftime('%d-%m-%Y %H:%M') %>
</p>

<p>
  <b>Fecha Fin:</b>
  <%= @concert.end_date.strftime('%d-%m-%Y %H:%M') %>
</p>

<p>
  <b>Banda:</b>
  <%= @concert.band.name %>
</p>

<p>
  <b>Local:</b>
  <%= @concert.local.name %>
</p>


<%= link_to 'Editar', edit_concert_path(@concert) %> |
<%= link_to 'Regresar a listado', concerts_path %>