<h2>Bandas registradas</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Genero</th>
      <th>Participantes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @bands.each do |band|

 %>
  <tr>
    <td><%= band.name %></td>
    <td><%= band.band_style.name%></td>
    <td><%= link_to 'Ver', band %></td>
    <td><%= link_to 'Editar', edit_band_path(band) %></td>
    <td><%= link_to 'Eliminar', band, confirm: '¿Estas seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Nueva Banda', new_band_path, :class => 'btn' %>