<h2>Bandas registradas</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Genero</th>
      <th>Participantes</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @bands.each do |band|

 %>
  <tr>
    <td><%= band.name %></td>
    <td><%= band.band_style.name%></td>
    <td><%= link_to 'Ver', band %></td>
    <td>
      <% if current_user && band.user_id == current_user.id %>
        <%= link_to 'Editar', edit_band_path(band) %>
      <% end %>
    </td>
    <td>
      <% if current_user && band.user_id == current_user.id %>
        <%= link_to 'Eliminar', band, confirm: '¿Estas seguro?', method: :delete %>
      <% end %>      
    </td>
  </tr>
<% end %>
</table>