<p>
  <span class="label label-success"><%= notice %></span>
</p>
<p>
	<h3>Nombre de Banda: <%= @band.name %></h3>
	<span class="label label-info">Genero</span> <%=@band.band_style.name%>
</p>

<h4>Miembros</h4>
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @band.users.each do |user| %>
		 <tr>
		 	<td>
		 	  <%= user.id %>	
		 	</td>
		 	<td>
		 	  <%= user.name %>	
		 	</td>
		 	<td></td>
		 </tr>
		<% end %>
	</tbody>
</table>

<% 
	if !current_user.nil?
		if @band.user_id == current_user.id %>
<%= link_to 'Añadir Miembros', add_members_band_path(@band), :class => 'btn' %>
<%= link_to 'Edit', edit_band_path(@band), :class => 'btn' %> 
<% 		end 
	end%>
<%= link_to 'Back', bands_path, :class => 'btn'%>
